:root {
    --color-background: linear-gradient(to right, rgb(255, 37, 73), magenta);
    --color-text: black;
    --color_01: rgb(243, 17, 111);
    --color_02: magenta;
    --color_03: rgb(183, 0, 255);
    --sidebar-width: 50px;
    --sidebar-width-open: 180px
}


body {
    background: var(--color-background);
    font: var(--color-text);
    margin: 0;
    padding: 0;
}

/* ------------------------NavBar-------------------------------*/
.sidebar {
    background-image: linear-gradient(purple, purple);
    width: var(--sidebar-width);
    height: 100%;
    position: fixed;
    top: 0;
    border: 0 3px 0 0 solid black;
    transition: 1s;
}

.sidebar.open {
    width: var(--sidebar-width-open);
    transform: transform(var(--sidebar-width-open));
    transition: 1s;

}

.navBarText {
    display: block;
    position: fixed;
    right: 100%;
    transition: 1s;
}

.navBarText.open {
    display: block;
    position: fixed;
    right: calc(100% - var(--sidebar-width-open) + 20px);
    color: var(--color-text);
    transition: 1s;


}

#hamburger-menu {
    position: fixed;
    bottom: 0vw;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    width: var(--sidebar-width);
    align-items: center;
    background-color: transparent;
    transition: width;
}


.sidebar-buttons:hover {
    background-color: var(--color_01);
}

/* ------------------------FullScreen-------------------------------*/
#fullScreenCard {
    text-align: center;
    z-index: 2000;
}

#fullScreenPic {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    display: block;
    width: auto;
    height: auto;
    padding: 100%;
    max-width: 100vw;
    max-height: 100vh;

    position: center;
    background-color: rgba(94, 0, 94, 0.75);
}

#artistData {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2100;
    text-decoration: none;
    font-size: xx-large;
    font-size: xx-large;
    color: var(--color-text);
}

#exitButton {
    position: fixed;
    right: 10px;
    z-index: 2100;
    color: var(--color-text);
    text-decoration: none;
    border: none;
    background: transparent;
    font-size: xx-large;
}

#exitButton:hover,
#artistData:hover {
    background-color: var(--color_02);
}


#fullScreenNavBut {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 0px;
}

#prevButton,
#nextButton,
#diaSpeed,
#playButton {
    margin: 10px 0px;
    border: none;
    font-size: x-large;
}

/* ------------------------FullGalery-------------------------------*/

#fullGallery {
    margin: 0 0 0 calc(var(--sidebar-width)*1.25);
    columns: 4 300px;
    column-gap: 20px;
}

#galCardPic {
    width: 280px;
    border-radius: 30px;
    border: 3px solid var(--color_01);
}

#galCardPic:hover {
    border: 3px solid var(--color_03);
}

#galCardButton {
    background: transparent;
    border: none;
    margin: 10px;
}

#gomb {
    color: green;
}